@font-face
{
    font-family: Cardinal;
    src: URL("Cardinal.ttf");
}    
h1
{
    background-repeat: no-repeat;
    background-color: #C1FDFF;
    color: #B28263;
    margin-top: -10px;
    padding-top: 30px;
    text-wrap: normal;
    font-family: Cardinal
}
h4
{
    font-family: Helvetica;
    font-size: 1.8em;
}
li
{
    font-family: Helvetica;
}
body
{
    display: block;
}
div
{
    background-color: #E4FEFF;
    font-family: Copperplate;   
}
img
{
    background-color: #C1FDFF;
    padding-right: 600px;
    padding-top: 10px;
}

