body {
    background-image: url("images/pink-background.jpg");
}
div{
    display:inline-block;
}
#frame {
    background-color: #ff3399;
    text-align:center;
    width:340px;
    padding-bottom:10px;
}